---
import HomeLayout from "./islands/home/HomeLayout";
---

<div id="container">
	<HomeLayout client:load />
</div>

<style is:global>
	span {
		display: inline-block;
	}

	.cta-prase-1 {
		clip-path: polygon(0 0, 100% 0%, 80% 100%, 0 100%);
	}

	.cta-prase-2 {
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
	}
</style>
