---
import Navbar from "@/components/islands/global/navbar/Navbar";
import "../styles/global.css";
import getUserCookie from "@/services/getUserCookies.service";
import { Toaster } from "@/components/ui/sonner";

const cookies = Astro.cookies;

const data = await getUserCookie({ cookies: cookies });

if (data) {
	console.log(data);
}

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar client:load />

		<slot />

		<Toaster  richColors client:load />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #ddd6cc;
		font-family: "Inter", sans-serif;
	}
</style>
